.filter {
    display: flex;
    justify-content: center;

    @include below($mobile) {
        display: none;
    }

    &__link {
        padding: rem(8) rem(16);
        margin-bottom: rem(25);

        font-family: 'Roboto', sans-serif;
        font-size: rem(14);
        line-height: rem(16);
        color: #c8d0dc;
        text-align: center;
        text-decoration: none;

        border: 1px solid transparent;

        transition: .25s;

        @include below($mobile) {
            display: block;
            margin: 0;

            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }

        &:hover {
            color: #4da84b;
        }

        &:not(:last-child) {
            margin-right: rem(20);

            @include below($tablet) {
                margin-right: rem(10);
            }
            @include below($mobile) {
                margin: 0;
            }
        }

        &_active {
            border: 1px solid rgba(255,255,255,.3);
            border-radius: rem(4);
        }
    }
}
