mixin filter(data)
    +b.NAV.filter.tournaments__filter.js-filter(id="filter")&attributes(attributes)
        +e.A.link._active.js-filter-link(href=jv0, data-rel="js-filter-all") Все турниры
        +e.A.link.js-filter-link(href=jv0, data-rel="js-filter-active") Активные турниры
        +e.A.link.js-filter-link(href=jv0, data-rel="js-filter-soon") Ближайшие турниры
        +e.A.link.js-filter-link(href=jv0, data-rel="js-filter-vip") VIP-турниры
        +e.A.link.js-filter-link(href=jv0, data-rel="js-filter-past") Прошедшие турниры
