include ../filter/filter
include ../events/events
include ../scroll-top/scroll-top

mixin tournaments(data)
    +b.tournaments()&attributes(attributes)
        +e.header
            +e.H2.title._mobile Турниры
            +e.BUTTON.menu.js-open-menu

        +e.H2.title
            +e.SPAN.price 32 566 534 203 ₽
            |  уже выплачено!
        +filter()
        +events()
        +scroll-top()
