.tournaments {
    position: relative;

    background-color: #192431;

    &::after {
        content: '';

        height: 100%;
        min-height: 100%;
    }

    &__header {
        position: relative;

        padding: rem(14) rem(14) rem(14) rem(20);

        background-color: #223242;

        @include above($mobile) {
            display: none;
        }
    }

    &__title {
        margin: 0 0 rem(20) 0;

        font-family: 'Open Sans', sans-serif;
        font-size: rem(32);
        font-weight: 300;
        color: #c8d0dc;
        text-align: center;

        @include below($mobile) {
            display: none;
        }

        &_mobile {
            display: block;
            margin: 0;

            font-family: 'Open Sans', sans-serif;
            font-size: rem(18);
            color: #fff;
            text-align: left;
        }
    }

    &__price {
        font-family: 'Open Sans', sans-serif;
        font-size: rem(32);
        font-weight: 700;
        color: #c8d0dc;
        text-transform: uppercase;
    }

    &__filter {
        @include below($tablet) {
            margin: 0 rem(30);
        }
        @include below($mobile) {
            position: absolute;
            z-index: 9999;

            width: 100%;
            padding: 20px 10px;
            margin: 0;

            background-color: #192431;
        }
    }

    &__menu {
        position: absolute;
        top: 50%;
        right: rem(20);

        display: block;
        width: rem(20);
        height: rem(14);

        border: 0 none;
        border-top: 2px solid #fff;
        outline: none;
        background: none;
        transform: translateY(-50%);

        &::before,
        &::after {
            content: '';

            position: absolute;
            left: 0;

            width: 100%;
            height: 2px;
            margin-top: -2px;

            background-color: #fff;
        }

        &::before {
            top: 50%;
        }

        &::after {
            top: 100%;
        }
    }
}
