/* Your custom fonts here */

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open-sans-light.eot');
    src: url('../fonts/open-sans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-light.woff') format('woff'),
         url('../fonts/open-sans-light.woff2') format('woff2'),
         url('../fonts/open-sans-light.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans.eot');
    src: url('../fonts/open-sans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans.woff') format('woff'),
         url('../fonts/open-sans.woff2') format('woff2'),
         url('../fonts/open-sans.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans-semibold.eot');
    src: url('../fonts/open-sans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-semibold.woff') format('woff'),
         url('../fonts/open-sans-semibold.woff2') format('woff2'),
         url('../fonts/open-sans-semibold.svg#open_sans-semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans-bold.eot');
    src: url('../fonts/open-sans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-bold.woff') format('woff'),
         url('../fonts/open-sans-bold.woff2') format('woff2'),
         url('../fonts/open-sans-bold.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.eot');
    src: url('../fonts/roboto.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto.woff2') format('woff2'),
         url('../fonts/roboto.woff') format('woff'),
         url('../fonts/robotor.svg#roboto') format('svg');
    font-weight: normal;
    font-style: normal;

}
