.scroll-top {
    position: absolute;
    z-index: 9000;
    right: rem(10);
    bottom: rem(250);

    display: flex;
    width: rem(40);
    height: rem(40);
    padding: 0;

    border: 0 none;
    border-radius: 50%;
    outline: 0;
    background: rgba(255,255,255,.3);

    @include above($mobile) {
        display: none;
    }

    &__icon {
        position: relative;

        width: rem(20);
        height: 100%;
        margin: 0 auto;

        &::before,
        &::after {
            content: '';

            position: absolute;
            top: 50%;

            width: rem(12);
            height: 2px;

            border-radius: 2px;
            background: #c8d0dc;
            transform: translateY(-50%);
        }

        &::before {
            left: 0;

            transform: rotate(-40deg);
        }

        &::after {
            right: 0;

            transform: rotate(40deg);
        }
    }
}
