.button {
    padding: rem(15) rem(20);

    font-family: 'Open Sans', sans-serif;
    font-size: rem(20);
    font-weight: 600;
    color: #fff;

    border: 0 none;
    border-radius: rem(4);
    outline: none;
    background: #4da84b;

    @include below($mobile) {
        width: 100%;
    }
}
