include ../button/button

mixin events(data)
    +b.events(id="filterList")&attributes(attributes)
        +e.item._current.js-filter-item.js-filter-all.js-filter-active.js-filter-vip.animation-scale(href=jv0)
            +e.IMG.image(src="../static/img/content/Group5.png", alt="")
            +e.wrap
                +e.content
                    +e.category
                        +e.icon
                            != pugHelpers.Icon.call(locals, {iconName: 'vip', className: 'vip', iconWidth: '20', iconHeight: '14'})
                        | Только для VIP
                    +e.category._mobile
                        +e.icon
                            != pugHelpers.Icon.call(locals, {iconName: 'vip', className: 'vip', iconWidth: '30', iconHeight: '21'})
                    +e.title
                        +e.name Это Спарта!
                        +e.footer
                            +e.subname Уже идет
                            +button()

        +e.item.js-filter-item.js-filter-all.js-filter-vip.js-filter-soon.animation-scale(href=jv0)
            +e.IMG.image(src="../static/img/content/Group7.png", alt="")
            +e.wrap
                +e.content
                    +e.category
                        +e.icon
                            != pugHelpers.Icon.call(locals, {iconName: 'vip', className: 'vip', iconWidth: '20', iconHeight: '14'})
                        | Только для VIP
                    +e.category._mobile
                        +e.icon
                            != pugHelpers.Icon.call(locals, {iconName: 'vip', className: 'vip', iconWidth: '30', iconHeight: '21'})
                    +e.title
                        +e.name
                            +e.SPAN.mark Топ 13
                            | царских корон
                        +e.subname Ты в топ-10 лидеров

        +e.item.js-filter-item.js-filter-all.js-filter-vip.js-filter-soon.animation-scale(href=jv0)
            +e.IMG.image(src="../static/img/content/Group6.png", alt="")
            +e.wrap
                +e.content
                    +e.category
                        +e.icon
                            != pugHelpers.Icon.call(locals, {iconName: 'vip', className: 'vip', iconWidth: '20', iconHeight: '14'})
                        | Только для VIP
                    +e.category._mobile
                        +e.icon
                            != pugHelpers.Icon.call(locals, {iconName: 'vip', className: 'vip', iconWidth: '30', iconHeight: '21'})
                    +e.title
                        +e.name Разгоняй оборот
                        +e.subname Ты в топ-10 лидеров
