.events {
    display: flex;
    flex-wrap: wrap;

    background-color: #192431;

    &__item {
        position: relative;
        z-index: 2;

        width: 25%;
        height: rem(320);
        overflow: hidden;

        text-decoration: none;

        transform: scale(0);

        transition: .3s;

        @include below($tablet) {
            width: 33%;
            height: rem(335);
        }
        @include below($mobile) {
            width: 100%;
            height: rem(300);
        }

        &:hover {
            z-index: 3;

            box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .4), 0 10px 20px 0 rgba(0, 0, 0, .2);

            .events__wrap {
                &::after {
                    content: '';

                    opacity: .3;
                }
            }

            .events__image {
                transform: scale(1.1);

                @include below($tablet) {
                    transform: scale(1.4);
                }
                @include below($tablet-vertical) {
                    transform: scale(2.4);
                }
                @include below($mobile) {
                    transform: scale(1.1);
                }
            }

            .events__title {
                transform: translateY(-10%);
            }

            .events__button {
                background: #4cc149;
            }
        }

        &_current {
            width: 50%;

            transform: scale(0);

            @include below($tablet) {
                width: 67%;
            }
            @include below($mobile) {
                width: 100%;
            }

            .events__wrap {
                @include below($tablet) {
                    padding: rem(40) rem(30);
                }
                @include below($mobile) {
                    padding: rem(30);
                }

                &::after {
                    content: '';

                    background-image: linear-gradient(-225deg, rgba(0,11,18,.00) 0%, rgba(4,17,32,.50) 47%, rgba(0,0,0,.70) 100%);

                    @include below($mobile) {
                        background: none;
                    }
                }
            }

            .events__image {
                @include below($tablet) {
                    transform: scale(1);
                }
                @include below($tablet-vertical) {
                    transform: scale(1);
                }
            }

            .events__name {
                width: 100%;
                margin: 0 0 rem(25) 0;

                font-family: 'Open Sans', sans-serif;
                font-size: rem(50);
                font-weight: 700;
                line-height: rem(52);
                color: #c8d0dc;

                @include below($mobile) {
                    margin-bottom: rem(5);

                    font-size: rem(30);
                    line-height: rem(32);
                }
            }

            .events__subname {
                margin: 0 rem(30) 0 0;

                font-family: 'Open Sans', sans-serif;
                font-size: rem(20);
                font-weight: 400;
                color: #c8d0dc;

                @include below($mobile) {
                    margin-bottom: rem(30);

                    font-size: rem(14);
                    line-height: rem(16);
                }
            }

            &:hover {
                .events__image {
                    @include below($tablet) {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    &__image {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        width: 100%;
        height: auto;

        transition: .3s;
        will-change: transform;

        @include below($tablet) {
            transform: scale(1.2);
        }
        @include below($tablet-vertical) {
            transform: scale(2.2);
        }
        @include below($mobile) {
            transform: scale(1);
        }
    }

    &__wrap {
        position: relative;
        z-index: 3;

        display: flex;
        height: 100%;
        min-height: 100%;
        padding: rem(40) rem(30);

        @include below($tablet) {
            padding: rem(40) rem(30) rem(50) rem(30);
        }


        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-image: linear-gradient(-225deg, rgba(0,0,0,.00) 0%, rgba(4,17,32,.36) 47%, rgba(0,0,0,.70) 100%);

            transition: .3s;

            @include below($mobile) {
                background: none;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 4;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__category {
        font-family: Open Sans;
        font-size: rem(14);
        font-weight: 700;
        color: #c8d0dc;

        @include below($mobile) {
            display: none;
        }

        &_mobile {
            @include above($mobile) {
                display: none;
            }
            @include below($mobile) {
                display: block;
            }
        }
    }

    &__icon {
        display: inline-block;
        margin-right: rem(5);
    }

    &__footer {
        display: flex;
        align-items: center;

        @include below($mobile) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;

        transition: .3s;
        will-change: transform;
    }

    &__name {
        width: rem(150);
        margin: 0 0 rem(20) 0;

        font-family: 'Open Sans', sans-serif;
        font-size: rem(30);
        font-weight: 700;
        line-height: rem(34);
        color: #c8d0dc;
    }

    &__subname {
        margin: 0;

        font-family: 'Open Sans', sans-serif;
        font-size: rem(14);
        font-weight: 400;
        color: #c8d0dc;
    }

    &__mark {
        display: block;

        font-family: 'Open Sans', sans-serif;
        font-size: rem(30);
        font-weight: 700;
        line-height: rem(34);
        color: #4da84b;
    }

    &__button {
        text-align: center;

        transition: .3s;
    }

    .animation-scale {
        transform: scale(1);
    }
}
